@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model JoinAGameTable.ViewModels.Event.CreateNewEventViewModel

@{
    ViewBag.Title = @ViewLocalizer.GetString("event.create.create-event");
    Layout = "_Layout";
    ViewData["CurrentMenuActive"] = "create";
}

<h1>@ViewLocalizer.GetString("event.create.create-event")</h1>
<p>
    @ViewLocalizer.GetString("event.create.text-description")
</p>
<br/>
<br/>
<form asp-action="POST_CreateNewEvent" method="post">
    <div asp-validation-summary="ModelOnly" class="fg-red"> </div>
    <div class="form-group">
        <label asp-for="Name">@ViewLocalizer.GetString("event.create-or-update.which-name")</label>
        <input type="text" data-role="input" asp-for="Name" maxlength="35">
        <span asp-validation-for="Name" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">@ViewLocalizer.GetString("event.create-or-update.describe-event")</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="BeginsAtDate">@ViewLocalizer.GetString("event.create-or-update.begins-at")</label>
        <input type="text" data-role="datepicker" data-distance="2" data-format="%Y-%m-%d" asp-for="BeginsAtDate">
        <input type="text" data-role="timepicker" data-distance="2" data-seconds="false" asp-for="BeginsAtTime">
        <span asp-validation-for="BeginsAtDate" class="fg-red"></span>
        <span asp-validation-for="BeginsAtTime" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndsAtDate">@ViewLocalizer.GetString("event.create-or-update.ends-at")</label>
        <input type="text" data-role="datepicker" data-distance="2" data-format="%Y-%m-%d" asp-for="EndsAtDate">
        <input type="text" data-role="timepicker" data-distance="2" data-seconds="false" asp-for="EndsAtTime">
        <span asp-validation-for="EndsAtDate" class="fg-red"></span>
        <span asp-validation-for="EndsAtTime" class="fg-red"></span>
    </div>
    <div class="form-group">
        <button class="button">@ViewLocalizer.GetString("event.create-or-update.button-create")</button>
    </div>
    <br/>
</form>

<script>
    new SimpleMDE({
        element: document.getElementById("Description"),
    	spellChecker: false,
        promptURLs:true,
    	status: false,
    	insertTexts: {
            table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"]
    	},
    	shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"],
    	hideIcons: ["side-by-side", "fullscreen", "image"]
    });
</script>
