@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model JoinAGameTable.ViewModels.SignUpViewModel

@{
    ViewData["Title"] = ViewLocalizer.GetString("session.signup.title");
}

<h1>@ViewData["Title"]</h1>

<form asp-action="POST_SignUp" method="post">
    <div asp-validation-summary="ModelOnly" class="fg-red"> </div>
    <div class="form-group">
        <label asp-for="FirstName">@ViewLocalizer.GetString("session.signup.first-name")</label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">@ViewLocalizer.GetString("session.signup.last-name")</label>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">@ViewLocalizer.GetString("session.signup.email")</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">@ViewLocalizer.GetString("session.signup.password")</label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password" class="fg-red"></span>
    </div>
    <div class="form-group">
        <input asp-for="ReturnUrl" type="hidden"/>
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewLocalizer.GetString("session.signup.signup")" class="btn btn-outline-primary"/>
    </div>
</form>
